@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #dddcd9;
}


.post{
  color: #f8d202;
}
.content{
  background-color: #edf1f5;
}

.border-my-custom-color1{
  border: #f8d202;
}

.spacial-card {
  width: 46%;
}

.moon{
  color: black;
}

.sun{
  color: yellow;
}

.icon-con{
  width: 43%;
}

